body{
    font-family: "Monserrat";
    font-weight: 600;
}
#title{
    background-color: #ff4c68;
    color:#fff; 
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    line-height: 1.5;
}
h2{
    font-family: "Monserrat-Bold";
    font-size: 3rem;
    line-height: 1.5;
}
h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
p{
    color: #8f8f8f;
}
.container-fluid{
    padding: 3% 15%;
}
/* navigation bar */
.navbar{
    padding:0 0 4.5rem;
}
.navbar-brand{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* download buttons */
.download-button{
    margin: 5 ;
}
/* title image */
.title-image{
    width: 60%;
    transform: rotate(25deg);
    position:relative;
    padding-left: 15%;
   
}
/* feature section */
#features{
    padding: 7% 15%;
    background-color: #fff;

   
}
.feature-box{
    text-align: center;
    padding: 4.5%;
}
.icon{
    color: #ef8172;
    margin:1rem;
}
.icon:hover{
    color:#ff4c68;
}
/* testimonial */
#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color:white;
}
.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding: 3%;
}
.press-logo{
    width: 15%;
    margin:20px 20px 50px;
}
/* pricing section */
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-coloumn{
    padding: 3% 2%;
}

#cta {
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
}
.cta-heading{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}
/* footer section */
#footer{
    padding: 7% 15%;
    text-align: center;
}
.social-icon{
    margin: 20px 10px;
}
@media (max-width: 1028px){ 
    #title{
        text-align: center;
    } 
    .title-image{
        position: static;
        transform: rotate(0);
    }
}
/* this only works when the condition is met inside the media tag */
